@charset "UTF-8";

/*共通部分*/

html{
    font-size: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans TC', sans-serif;
}

/*header*/
header{
    background-image: url(../images/the-urban-landscape-1698285.png);
    background-position: center top;
    background-repeat: no-repeat;
    height: 400px;
}

header .wrapper{
    text-align: center;
    position: relative;
    top: 70px;
}

.headerTitle{
    margin-top: 0px;
    margin-bottom: 100px;
    letter-spacing: 2px;
    font-size: 2rem;
    color: white;
    
}

.selectZone{
    background: rgba(255,255,255,.5);
    background-image: url(../images/icons_down.png);
    background-position:right 2px center;
    background-repeat: no-repeat;
    border: 3px #ffffff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    width: 450px;
    
}


/*hotzone*/

.box{
    background-color: white;
    box-shadow: 0 0 8px gray;
    position: relative;
    top: -30px;
    width: 720px;
    border-radius: 5px;
    margin: auto;
}

.box p{
    margin: 0px;
    padding: 10px;
}

.container{
    display: flex;
    margin-left: 20px;
}
.button{
    width: 100px;  
    height: 36px;  
    text-align: center;  
    color:white;  
    line-height: 36px;  
    text-decoration: none;  
    box-shadow: 0 0 8px gray;  
    border: 0px #ffffff solid;
    border-radius: 5px;
    letter-spacing: 2px;
    margin: 10px;
}

.button:hover{
    cursor: pointer;
}
.button_Lingya{
    background-color: #9944cc;
}

.button_Sanmin{
    background-color: #ff2599;
}

.button_Xinxing{
    background-color: #ffcc00;
}

.button_Yancheng{
    background-color: #00a9ff;
}



/*content*/

section h1{
    text-align: center;
    color: #9944cc;
    letter-spacing: 2px;
    
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    width:1024px;
    position: relative;
    margin: auto;
}

.gridTop{
    height: 50%;
}
.gridButton{
    position: relative;
    top: 5px;
    bottom: 5px;
}
.item{
    box-shadow: 0 0 8px gray;  
    border: 0px #ffffff solid;
    height: 350px;
}

.item img{
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.name{
    position: relative;
    color: #ffffff;
    font-size: 20px;
    top:-50px;
    padding-left: 20px;
}
.zone{
    position: relative;
    color: #ffffff;
    text-align: right;
    top:-74px;
    padding-right: 20px;
}

.opentime{
    background-image: url(../images/icons_clock.png);
    background-repeat: no-repeat;
    background-position:left 2px center;
    position: relative;
    padding-left: 20px;
}

.add{
    background-image: url(../images/icons_pin.png);
    background-position:left 2px center;
    background-repeat: no-repeat;
    position: relative;
    padding-left: 20px;
}

.tel{
    background-image: url(../images/icons_phone.png);
    background-position:left 2px center;
    background-repeat: no-repeat;
    position: relative;
    padding-left: 20px;
}
.ticket{
    background-image: url(../images/icons_tag.png);
    background-position:right 90px center;
    background-repeat: no-repeat;
    position: relative;
    text-align: right;
    padding-right: 20px;
}


/*footer*/

footer{
    margin: 20px auto;
    width: 1024px;
    text-align: center;
    background-color:#00a9ff;
    color: #ffffff;
}


